

.inputTextStyle{
    width: 520px;
    height: 43px;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: Arial;
    font-style: normal;
    font-size: large;
    border-radius: 19px;
    border-width: 0.3px;
    border-color: #dbd7d7;
}

#txtGgle:hover {
    box-shadow:  1.5px 1.5px 2px 2px #e2e1e6;
    border-radius: 19px;
    border-width: 1px;
    border-color: #e2e1e6;
}

#txtGgle:focus {
    border-color: #e2e1e6;
    border-radius: 19px;
    border-width: 1px;
    outline: none;
}

.butnStyle{
    border-width: 0px;
    font-family: Arial;
    font-style: normal;
    font-size: medium;
    border-radius: 4px;
    background-color: #ddddff;
    padding: 6px;
    color: #222631;
}

button:hover {
    background-color: #d9dce6;
    border-width: 1px;
  }

button:focus {
    outline: none;
}

A:hover {
    text-decoration: underline;
    cursor: pointer;
}

.imgStyle{
    margin: 10px;
    height: 100px;
    width: 250px;
}

.centered{
  position: fixed;
  top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 540px;
  border-width: 0px;
}

.divCntr{
    display: flex;
    justify-content: center;
    border-width: 0px;
}

  .Wrap{
      padding: 1.3%;
  }

  .footerLeft {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 40px;
      background-color: #dddddd;
      text-align: left;
    }

    .footerRight {
        position: fixed;
        left: 50%;
        bottom: 0;
        width: 50%;
        height: 40px;
        background-color: #dddddd;
        text-align: right;
      }

  .leftLink{
      text-align: left;
      color: #333333;
      margin-left: 2%;
      margin-top: 5%;
      text-decoration: none;
      
  }

  .rightLink{
      text-align: right;
      color: #333333;
      margin-right: 3%;
      margin-top: 5%;
      text-decoration: none;
  }




/*

    .footer {
    position: fixed;
    left: 34%;
    bottom: 0;
    width: 32%;
    height: 40px;
    background-color: #dddddd;
    text-align: center;
  }

  .centerLink{
      text-align: center;
      color: #333333;
      text-decoration: none;
  }


*/